*~
.in_place/
*.o
*.a
*.so
*.deps*
Makefile
Makefile.in
Makefile.vex.in
VEX/.deps/
VEX/Makefile
VEX/pub/libvex_guest_offsets.h
aclocal.m4
autom4te.cache/
auxprogs/Makefile
auxprogs/Makefile.in
auxprogs/valgrind-listener
cachegrind/Makefile
cachegrind/Makefile.in
cachegrind/cachegrind-amd64-linux
cachegrind/cachegrind-x86-linux
cachegrind/cg_annotate
cachegrind/cg_diff
cachegrind/cg_merge
cachegrind/tests/Makefile
cachegrind/tests/Makefile.in
cachegrind/tests/x86/Makefile
cachegrind/tests/x86/Makefile.in
callgrind/Makefile
callgrind/Makefile.in
callgrind/callgrind-amd64-linux
callgrind/callgrind-x86-linux
callgrind/callgrind_annotate
callgrind/callgrind_control
callgrind/tests/Makefile
callgrind/tests/Makefile.in
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
coregrind/Makefile
coregrind/Makefile.in
coregrind/link_tool_exe_darwin
coregrind/link_tool_exe_linux
coregrind/valgrind
coregrind/vgdb
default.supp
depcomp
docs/Makefile
docs/Makefile.in
drd/Makefile
drd/Makefile.in
drd/drd-amd64-linux
drd/drd-x86-linux
drd/scripts/download-and-build-splash2
drd/tests/.deps/
drd/tests/Makefile
drd/tests/Makefile.in
exp-bbv/Makefile
exp-bbv/Makefile.in
exp-bbv/exp-bbv-amd64-linux
exp-bbv/exp-bbv-x86-linux
exp-bbv/tests/Makefile
exp-bbv/tests/Makefile.in
exp-bbv/tests/amd64-linux/Makefile
exp-bbv/tests/amd64-linux/Makefile.in
exp-bbv/tests/arm-linux/Makefile
exp-bbv/tests/arm-linux/Makefile.in
exp-bbv/tests/ppc32-linux/Makefile
exp-bbv/tests/ppc32-linux/Makefile.in
exp-bbv/tests/x86-linux/Makefile
exp-bbv/tests/x86-linux/Makefile.in
exp-bbv/tests/x86/Makefile
exp-bbv/tests/x86/Makefile.in
exp-dhat/Makefile
exp-dhat/Makefile.in
exp-dhat/exp-dhat-amd64-linux
exp-dhat/exp-dhat-x86-linux
exp-dhat/tests/Makefile
exp-dhat/tests/Makefile.in
exp-sgcheck/Makefile
exp-sgcheck/Makefile.in
exp-sgcheck/exp-sgcheck-amd64-linux
exp-sgcheck/exp-sgcheck-x86-linux
exp-sgcheck/tests/Makefile
exp-sgcheck/tests/Makefile.in
gdbserver_tests/Makefile
gdbserver_tests/Makefile.in
glibc-2.X.supp
helgrind/Makefile
helgrind/Makefile.in
helgrind/helgrind-amd64-linux
helgrind/helgrind-x86-linux
helgrind/tests/Makefile
helgrind/tests/Makefile.in
include/Makefile
include/Makefile.in
install-sh
lackey/Makefile
lackey/Makefile.in
lackey/lackey-amd64-linux
lackey/lackey-x86-linux
lackey/tests/Makefile
lackey/tests/Makefile.in
massif/Makefile
massif/Makefile.in
massif/massif-amd64-linux
massif/massif-x86-linux
massif/ms_print
massif/perf/Makefile
massif/perf/Makefile.in
massif/tests/Makefile
massif/tests/Makefile.in
memcheck/Makefile
memcheck/Makefile.in
memcheck/memcheck-amd64-linux
memcheck/memcheck-x86-linux
memcheck/perf/Makefile
memcheck/perf/Makefile.in
memcheck/tests/Makefile
memcheck/tests/Makefile.in
memcheck/tests/amd64-linux/Makefile
memcheck/tests/amd64-linux/Makefile.in
memcheck/tests/amd64/Makefile
memcheck/tests/amd64/Makefile.in
memcheck/tests/darwin/Makefile
memcheck/tests/darwin/Makefile.in
memcheck/tests/linux/Makefile
memcheck/tests/linux/Makefile.in
memcheck/tests/ppc32/Makefile
memcheck/tests/ppc32/Makefile.in
memcheck/tests/ppc64/Makefile
memcheck/tests/ppc64/Makefile.in
memcheck/tests/x86-linux/Makefile
memcheck/tests/x86-linux/Makefile.in
memcheck/tests/x86/Makefile
memcheck/tests/x86/Makefile.in
missing
mpi/Makefile
mpi/Makefile.in
none/Makefile
none/Makefile.in
none/none-amd64-linux
none/none-x86-linux
none/tests/Makefile
none/tests/Makefile.in
none/tests/amd64/Makefile
none/tests/amd64/Makefile.in
none/tests/arm/Makefile
none/tests/arm/Makefile.in
none/tests/darwin/Makefile
none/tests/darwin/Makefile.in
none/tests/linux/Makefile
none/tests/linux/Makefile.in
none/tests/ppc32/Makefile
none/tests/ppc32/Makefile.in
none/tests/ppc64/Makefile
none/tests/ppc64/Makefile.in
none/tests/s390x/Makefile
none/tests/s390x/Makefile.in
none/tests/x86-linux/Makefile
none/tests/x86-linux/Makefile.in
none/tests/x86/Makefile
none/tests/x86/Makefile.in
perf/Makefile
perf/Makefile.in
perf/vg_perf
privgrind/privgrind-amd64-linux
privgrind/privgrind-x86-linux
privgrind/Makefile.in
privgrind/Makefile
privgrind/tests/Makefile
stamp-h1
tests/Makefile
tests/Makefile.in
tests/vg_regtest
valgrind.pc
valgrind.spec